.mainSection{
    width: 100vw;
    min-height: 100vh;
}

.versesImage{
    width: 100vw;
    height: auto;
}

.textContainer{
    width: 80vw;
    padding: 10vw, 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.oneVerse{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.verseNumberLabel{
    color: black;
}

.verseText{
    color: black;
}