.container {
    width: 100%;
    height: 80px;
    background: #F5F5F5;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1;
    padding: 0 16px;
}

.button {
    width: fit-content;
    border: none;
    background: none;
}

.menuIsVisible {
     width: 100%;
     height: 100vh;
     position: absolute;
     right: 0;
     top: 0;
     background: #FFFFFF;
     overflow-y: hidden;
     padding: 30px 16px;
 }

.menu {
    display: flex;
    justify-content: space-between;
}
.menuIsHidden {
    display: none;

}

.emptyBlock {
    width: 30px;
}
